body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}


header{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 60px;
}

table {
    width: 30%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #007bff;
    color: #fff;
}

td button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}